apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mlops-serving-app
  namespace: argocd
  # ArgoCD will manage this application
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    # GitHub repository for ArgoCD to sync from
    repoURL: https://github.com/Maaz77/smart-logistics-supply-chain-mlops.git
    targetRevision: master
    path: k8s/apps
  destination:
    server: https://kubernetes.default.svc
    namespace: mlops-production
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
